<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="{{url_for('static',filename='script2.js')}}"></script> 
	<script src="https://js.arcgis.com/3.22/"></script>
	<title> Qudemap </title>
	<link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
	
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://js.arcgis.com/3.22/esri/css/esri.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>

	<script src="{{url_for('static',filename='scriptLang.js')}}" type="text/javascript"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header">
				<div class="header_section">
					<div class="headerlogo">
						<a href="{{ url_for('index') }}"><img class="graficlogo" src='static/images/Qudemap1.jpg' alt="logo"></a>
					</div>
					<div class="header_item headerButton">
						<a href="{{ url_for('index') }}">Mājas lapa</a>
					</div>
					<div class="header_item headerButton">
						<a href="{{ url_for('toppied') }}">TOP piedavājumi</a>
					</div>
					<div class="header_item headerButton">
						<a href="{{ url_for('raditKarti') }}">Karte</a>
					</div>
					<div class="header_item headerButton">
						<a href="{{ url_for('parmums') }}">Par mums</a>
					</div>
				</div>
				<div class="header_section">
					<nav>
						<button onclick="setLanguageLV();" class="button_lang">LAT</button>
						<button onclick="setLanguageEN();" class="button_lang">ENG</button>
					</nav>
					<div class="header_item_headerButton2">
						<a href="https://www.ss.lv/lv/new/" class="hB2">Ievietot sludinājumu</a>
					</div>
				</div>
			</div>
		</header>
		<main class="mainMap">
			<div id="map"></div>
		</main>
		<footer class="footer">
			<nav>
				<a href="{{ url_for('index') }}">Mājas lapa</a>
				<a href="{{ url_for('toppied') }}">TOP piedavājumi</a>
				<a href="{{ url_for('raditKarti') }}">Karte</a>
				<a href="{{ url_for('parmums') }}">Par mums</a>
			</nav>
			<div class="footerlogo">
				<a href="{{ url_for('index') }}"><img class="footerGRAFlogo" src='static/images/Qudemap1.png' alt="logo"></a>
			</div>
		</footer>
	</div>
</body>
</html>