<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="{{url_for('static',filename='script.js')}}"></script> 
	<script src="https://js.arcgis.com/3.22/"></script>
	<title> Qudemap </title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://js.arcgis.com/3.22/esri/css/esri.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header">
				<div class="header_section">
					<div class="headerlogo">
						<a href="index.html"><img class="graficlogo" src='static/images/Qudemap1.jpg' alt="logo"></a>
					</div>
					<div class="header_item headerButton">
						<a href="index.html">Mājas lapa</a>
					</div>
					<div class="header_item headerButton">
						<a href="toppied.html">TOP piedavājumi</a>
					</div>
					<div class="header_item headerButton">
						<a href="karte.html">Karte</a>
					</div>
					<div class="header_item headerButton">
						<a href="parmums.html">Par mums</a>
					</div>
				</div>
				<div class="header_section">
					<nav>
						<ul class="actionList">
							<li color="liLAT"><a href="#">LAT</a>
								<ul>
									<li><a class="actionList_action" href="#">LAT</a></li>
									<li><a class="actionList_action" href="#">RU</a></li>
									<li><a class="actionList_action" href="#">ENG</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<div class="header_item_headerButton2">
						<a href="https://www.ss.lv/lv/new/" class="hB2">Ievietot sludinājumu</a>
					</div>
				</div>
			</div>
		</header>
		<main class="mainMap">
			<div id="map"></div>
		</main>
		<footer class="footer">
			<nav>
				<a href="index.html">Mājas lapa</a>
				<a href="toppied.html">TOP piedavājumi</a>
				<a href="karte.html">Karte</a>
				<a href="parmums.html">Par mums</a>
			</nav>
			<div class="footerlogo">
				<a href="index.html"><img class="footerGRAFlogo" src='static/images/Qudemap1.png' alt="logo"></a>
			</div>
		</footer>
	</div>
</body>
</html>