<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Qudemap </title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	<script src="{{url_for('static',filename='script.js')}}"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header">
				<div class="header_section">
					<div class="headerlogo">
						<a href="index.html"><img class="graficlogo" src='static/images/Qudemap1.jpg' alt="logo"></a>
					</div>
					<div class="header_item headerButton">
						<a href="index.html">Mājas lapa</a>
					</div>
					<div class="header_item headerButton">
						<a href="toppied.html">TOP piedavājumi</a>
					</div>
					<div class="header_item headerButton">
						<a href="karte.html">Karte</a>
					</div>
					<div class="header_item headerButton">
						<a href="parmums.html">Par mums</a>
					</div>
				</div>
				<div class="header_section">
					<nav>
						<ul class="actionList">
							<li color="liLAT"><a href="#">LAT</a>
								<ul>
									<li><a class="actionList_action" href="#">LAT</a></li>
									<li><a class="actionList_action" href="#">RU</a></li>
									<li><a class="actionList_action" href="#">ENG</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<div class="header_item_headerButton2">
						<a href="https://www.ss.lv/lv/new/" class="hB2">Ievietot sludinājumu</a>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="main4">
				<div class="AboutUs">
					<img src='static/images/aboutuscrop.jpg' alt="" class="aboutusImg">
					<h1 class="h1main4">Lorem ipsum dolor sit amet.</h1>
					<p class="pmain4">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.
					</p>
					<p class="pmain4">
						Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy. Fusce aliquet pede non pede. Suspendisse dapibus lorem pellentesque magna. Integer nulla.
					</p>
					<p class="pmain4">
						Donec blandit feugiat ligula. Donec hendrerit, felis et imperdiet euismod, purus ipsum pretium metus, in lacinia nulla nisl eget sapien. Donec ut est in lectus consequat consequat. Etiam eget dui. Aliquam erat volutpat. Sed at lorem in nunc porta tristique. Proin nec augue. Quisque aliquam tempor magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
					<h1 class="h1main4">Sazinies ar mums</h1>
					<p class="pmain4">Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy. Fusce aliquet pede non pede. Suspendisse dapibus</p>
				</div>
				<div class="contact">
					<form class="form">
						<p><input type="text" name="name" class="feedback_input" placeholder="Vārds, Uzvārds"></p>
						<p><input type="email" name="email" class="feedback_input" placeholder="E-pasts"></p>
						<p><textarea name="text" cols="30" rows="10" placeholder="Ziņa" class="feedback_input"></textarea></p>
						<input type="submit" value="Iesniegt ziņu" class="button_submit">
						<div class="space"></div>
					</form>
				</div>
			</div>
		</main>
		<footer class="footer">
			<nav>
				<a href="index.html">Mājas lapa</a>
				<a href="toppied.html">TOP piedavājumi</a>
				<a href="karte.html">Karte</a>
				<a href="parmums.html">Par mums</a>
			</nav>
			<div class="footerlogo">
				<a href="index.html"><img class="footerGRAFlogo" src='static/images/Qudemap1.png' alt="logo"></a>
			</div>
		</footer>
	</div>
</body>
</html>