<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Qudemap </title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	<script src="{{url_for('static',filename='script.js')}}"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header">
				<div class="header_section">
					<div class="headerlogo">
						<a href="index.html"><img class="graficlogo" src='static/images/Qudemap1.jpg' alt="logo"></a>
					</div>
					<div class="header_item headerButton">
						<a href="index.html">Mājas lapa</a>
					</div>
					<div class="header_item headerButton">
						<a href="toppied.html">TOP piedavājumi</a>
					</div>
					<div class="header_item headerButton">
						<a href="karte.html">Karte</a>
					</div>
					<div class="header_item headerButton">
						<a href="parmums.html">Par mums</a>
					</div>
				</div>
				<div class="header_section">
					<nav>
						<ul class="actionList">
							<li color="liLAT"><a href="#">LAT</a>
								<ul>
									<li><a class="actionList_action" href="#">LAT</a></li>
									<li><a class="actionList_action" href="#">RU</a></li>
									<li><a class="actionList_action" href="#">ENG</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<div class="header_item_headerButton2">
						<a href="https://www.ss.lv/lv/new/" class="hB2">Ievietot sludinājumu</a>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="main2">
				<div class="main2_TopPiedavajumi">
					<div class="galeryNosConteiner">
						<h1 class="galeryNos">TOP piedavājumi</h1>
						<img src='static/images/galeryBar.png' alt="" class="galeryNos_bar">
					</div>
					<div class="galeryConteiner">
						<div class="galery">
							<div class="galeryItem">
								<img src="IMG/galeryimg1.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Poruka prospekts 8,</span> Jaundubulti, Jūrmala</p>
								<h2 class="galery_cenaNos">197 000 €</h2>
								<p class="galery_infoAbout">126 m² | 289 m² | 7 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg2.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Kupriču iela 1G-26,</span> Pļavnieki, Rīga</p>
								<h2 class="galery_cenaNos">92 000 €</h2>
								<p class="galery_infoAbout">48.7 m² | 3 ist. | 4/13 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg3.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Burtnieku iela 1-91,</span> Teika, Rīga</p>
								<h2 class="galery_cenaNos">102 000 €</h2>
								<p class="galery_infoAbout">52.6 m² | 2 ist. | 2/5 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg4.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Zaru iela 14,</span> Babites pag., Babites</p>
								<h2 class="galery_cenaNos">135 000 €</h2>
								<p class="galery_infoAbout">69.5 m² | 38 m² | 5 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg5.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Pīlādžu iela 10,</span> Imanta, Rīga</p>
								<h2 class="galery_cenaNos">79 430 €</h2>
								<p class="galery_infoAbout">95 m² | 718 m² | 6 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg6.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Ludviķa iela 3,</span> Torņakalns, Rīga</p>
								<h2 class="galery_cenaNos">250 000 €</h2>
								<p class="galery_infoAbout">89.23 m² | 5 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg7.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Gaviezes iela 4,</span> Zolitūde, Rīga</p>
								<h2 class="galery_cenaNos">98 700 €</h2>
								<p class="galery_infoAbout">54.8 m² | 2 ist. | 3/5 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg8.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Aiviekstes iela 11,</span> Maskavas priekšpilsēta, Rīga</p>
								<h2 class="galery_cenaNos">435 000 €</h2>
								<p class="galery_infoAbout">91.54 m² | 38 m² | 8 ist. | 2 st.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="main2_JauniePiedavajumi">
					<div class="galeryNosConteiner">
						<h1 class="galeryNos">Jaunie piedavājumi</h1>
						<img src='static/images/galeryBar.png' alt="" class="galeryNos_bar">
					</div>
					<div class="galeryConteiner">
						<div class="galery">
							<div class="galeryItem">
								<img src="IMG/galeryimg3.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Poruka prospekts 8,</span> Jaundubulti, Jūrmala</p>
								<h2 class="galery_cenaNos">197 000 €</h2>
								<p class="galery_infoAbout">126 m² | 289 m² | 7 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg4.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Kupriču iela 1G-26,</span> Pļavnieki, Rīga</p>
								<h2 class="galery_cenaNos">92 000 €</h2>
								<p class="galery_infoAbout">48.7 m² | 3 ist. | 4/13 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg1.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Burtnieku iela 1-91,</span> Teika, Rīga</p>
								<h2 class="galery_cenaNos">102 000 €</h2>
								<p class="galery_infoAbout">52.6 m² | 2 ist. | 2/5 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg2.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Zaru iela 14,</span> Babites pag., Babites</p>
								<h2 class="galery_cenaNos">135 000 €</h2>
								<p class="galery_infoAbout">69.5 m² | 38 m² | 5 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg1.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Poruka prospekts 8,</span> Jaundubulti, Jūrmala</p>
								<h2 class="galery_cenaNos">197 000 €</h2>
								<p class="galery_infoAbout">126 m² | 289 m² | 7 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg2.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Kupriču iela 1G-26,</span> Pļavnieki, Rīga</p>
								<h2 class="galery_cenaNos">92 000 €</h2>
								<p class="galery_infoAbout">48.7 m² | 3 ist. | 4/13 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg3.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Burtnieku iela 1-91,</span> Teika, Rīga</p>
								<h2 class="galery_cenaNos">102 000 €</h2>
								<p class="galery_infoAbout">52.6 m² | 2 ist. | 2/5 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg4.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Zaru iela 14,</span> Babites pag., Babites</p>
								<h2 class="galery_cenaNos">135 000 €</h2>
								<p class="galery_infoAbout">69.5 m² | 38 m² | 5 ist. | 2 st.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="main2_VisiSludinajumu">
					<div class="galeryNosConteiner">
						<h1 class="galeryNos">Visi sludinājumi</h1>
						<img src='static/images/galeryBar.png' alt="" class="galeryNos_bar">
					</div>
					<div class="galeryConteiner">
						<div class="galery">
							<div class="galeryItem">
								<img src="IMG/galeryimg1.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Poruka prospekts 8,</span> Jaundubulti, Jūrmala</p>
								<h2 class="galery_cenaNos">197 000 €</h2>
								<p class="galery_infoAbout">126 m² | 289 m² | 7 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg2.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Kupriču iela 1G-26,</span> Pļavnieki, Rīga</p>
								<h2 class="galery_cenaNos">92 000 €</h2>
								<p class="galery_infoAbout">48.7 m² | 3 ist. | 4/13 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg3.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Burtnieku iela 1-91,</span> Teika, Rīga</p>
								<h2 class="galery_cenaNos">102 000 €</h2>
								<p class="galery_infoAbout">52.6 m² | 2 ist. | 2/5 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg4.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Zaru iela 14,</span> Babites pag., Babites</p>
								<h2 class="galery_cenaNos">135 000 €</h2>
								<p class="galery_infoAbout">69.5 m² | 38 m² | 5 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg1.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Poruka prospekts 8,</span> Jaundubulti, Jūrmala</p>
								<h2 class="galery_cenaNos">197 000 €</h2>
								<p class="galery_infoAbout">126 m² | 289 m² | 7 ist. | 2 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg2.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Kupriču iela 1G-26,</span> Pļavnieki, Rīga</p>
								<h2 class="galery_cenaNos">92 000 €</h2>
								<p class="galery_infoAbout">48.7 m² | 3 ist. | 4/13 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg3.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Burtnieku iela 1-91,</span> Teika, Rīga</p>
								<h2 class="galery_cenaNos">102 000 €</h2>
								<p class="galery_infoAbout">52.6 m² | 2 ist. | 2/5 st.</p>
							</div>
							<div class="galeryItem">
								<img src="IMG/galeryimg4.jpg" alt="" class="galery_img">
								<p class="galery_ielasNos"><span class="galery_ielasNos_sak">Zaru iela 14,</span> Babites pag., Babites</p>
								<h2 class="galery_cenaNos">135 000 €</h2>
								<p class="galery_infoAbout">69.5 m² | 38 m² | 5 ist. | 2 st.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<nav>
				<a href="index.html">Mājas lapa</a>
				<a href="toppied.html">TOP piedavājumi</a>
				<a href="karte.html">Karte</a>
				<a href="parmums.html">Par mums</a>
			</nav>
			<div class="footerlogo">
				<a href="index.html"><img class="footerGRAFlogo" src='static/images/Qudemap1.png' alt="logo"></a>
			</div>
		</footer>
	</div>
</body>
</html>